<div th:fragment="downloadedPageContentFragment">
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-8">
                <h2>Downloaded Page!</h2>
                <hr class="d-sm-none">
            </div>
            <div class="col-sm-4">
                <h2>Just For Fun</h2>
                <br>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p></p>
    </div>
</div>