<div th:fragment="indexPageContentFragment">
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-8">
                <h2>Put your link here!</h2>
                <form action="/video" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="_link" name="link">
                    </div>
                    <button type="submit" class="btn btn-primary">Download</button>
                </form>
                <hr class="d-sm-none">
            </div>
            <div class="col-sm-4">
                <h2>How To</h2>
                <div class="fakeimg"></div>
                <br>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p></p>
    </div>
</div>